<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.main.mapper.RenewBillMapper">

    <!-- 恢复被逻辑删除的循环账单 -->
    <update id="recoverLogicDeletedRenewBill">
        UPDATE renew_bill
        SET is_deleted = #{notDeletedStatus.value}
        WHERE is_deleted = #{isDeletedStatus.value}
        AND id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 查询被逻辑删除的账单 -->
    <select id="queryRenewBillByDeletedStatus" resultType="com.shiro.main.domain.po.RenewBill">
        SELECT *
        FROM renew_bill
        WHERE is_deleted = #{isDeletedStatus.value}
          AND user_id = #{user_id}
    </select>

    <!--按照分类查询所有账单-->
    <select id="selectAllRenewBillByRenewCategory" resultType="com.shiro.main.domain.po.RenewBill">
        SELECT *
        FROM renew_bill
        WHERE user_id = #{user_id}
        AND category_id IN
        <foreach item="item" index="index" collection="deleteRenewCategoryList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!--彻底删除账单-->
    <delete id="realDeleteRenewBill">
        DELETE FROM renew_bill
        WHERE
        user_id = #{user_id}
        AND id IN
        <foreach item="id" index="index" collection="renewBill_ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
