<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.backend.mapper.BillsMapper">

    <!-- 查询被逻辑删除的账单 -->
    <select id="queryBillsByDeletedStatus" resultType="com.shiro.backend.domain.po.Bills">
        SELECT *
        FROM bills
        WHERE is_deleted = #{isDeletedStatus.value}
          AND userid = #{userid}
    </select>

    <!-- 恢复被逻辑删除的账单 -->
    <update id="recoverLogicDeletedBills">
        UPDATE bills
        SET is_deleted = #{notDeletedStatus.value}
        WHERE is_deleted = #{isDeletedStatus.value}
        AND id IN
        <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--彻底删除账单-->
    <delete id="realDeleteBills">
        DELETE FROM bills
        WHERE
        userid = #{userid}
        AND id IN
        <foreach item="id" index="index" collection="bill_ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--按照分类查询所有账单-->
    <select id="selectAllBillsByCategory" resultType="com.shiro.backend.domain.po.Bills">
        SELECT *
        FROM bills
        WHERE category_id IN
        <foreach item="item" index="index" collection="deleteCategoryList" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND userid = #{userId}
    </select>


    <select id="selectBillsWithCategoryByMonth" resultMap="BillWithCategoryMap">
        SELECT b.*, c.name as category_name
        FROM bills b
                 LEFT JOIN category c ON b.category_id = c.id
        WHERE YEAR(b.date) = #{year}
          AND MONTH(b.date) = #{month}
          AND b.userid = #{userid}
          AND b.is_deleted = 0
    </select>

    <resultMap id="BillWithCategoryMap" type="com.shiro.backend.domain.po.Bills">
        <id property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="amount" column="amount"/>
        <result property="type" column="type"/>
        <result property="categoryId" column="category_id"/>
        <result property="detail" column="detail"/>
        <result property="date" column="date"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="categoryName" column="category_name"/>
    </resultMap>


    <!-- 忽略逻辑删除标记查询账单 -->
    <select id="selectBillsWithoutLogicDelete" resultType="com.shiro.backend.domain.po.Bills">
        SELECT id, date
        FROM bills
        WHERE id IN
        <foreach collection="billIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND userid = #{userId}
    </select>
</mapper>
